<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

  <header th:fragment="header">
    <div class="header-wrap">
      <nav>
        <div class="logo">
          <img src="https://via.placeholder.com/100x100">
        </div>
        <div class="first-row">
          <ul>
            <li>공지</li>
            <li>문의사항</li>
            <li>로그인</li>
            <li>즐겨찾기</li>
          </ul>
        </div>
        <div class="second-row">
          <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">WEB</a></li>
            <li><a href="#">DESIGN</a></li>
            <li><a href="#">MAP</a></li>
            <li><a href="#">CONTACT</a></li>
          </ul>
        </div>
        <div id="trigger">
          <a href="#"></a>
        </div>
        <div class="search-area">
          <input type="text" placeholder="가게명 및 지역명">
          <button type="button">검색</button>
        </div>
      </nav>
    </div>
  </header>
</html>